---
  # Main Style-Sheet
---

/* FONTS */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

/* BASE */
body { background-color: black; color: white; font-family: 'Roboto Mono', monospace; }

footer { background-color: grey; color: black; width: 100%; position: fixed; bottom: 0px; left: 0px; padding: 0.5em; }


/* EXTRA */

*::selection { background-color: white; color: black; }
