h1 {
    color:aqua
}

body {
    padding-top: 50px;
}

i{
    color: black;
}

.fab.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }

.about {
    background-color: lightgrey;
}

.contact {
    background-color: lightgrey;
}

.cardhover>img:hover {
    opacity: 0.8;
}